+move

.my-header 
    +flex_col
    background-image: url(/images/space.jpg) 
    background-size: cover
    background-attachment: fixed
    height: 100vh

    &__container
        +flex_row
        background-color: transparent
        border-radius: $s-2
        border: 1px solid $white
        color: $white
        cursor: pointer
        font-size: $font-size-lg
        padding: 0
        transition: scale 300ms ease

        +mobile-xs
            font-size: $font-size-md

        &:hover
            scale: 1.05

    &__title
        padding: $s-2 $s-6

    &__arrow-container
        background-color: $accent
        border-bottom-right-radius: $s-2
        border-left: 1px solid $white
        border-top-right-radius: $s-2

.arrows
    animation: move 1.3s ease 0s infinite
    background-color: transparent
    color: $primary
    padding: $s-3

.greeting
    color: $white
    font-size: $font-size-lg
    margin-bottom: $s-5
    text-align: center

    +mobile-xs
        font-size: $font-size-md

    &__name
        color: $accent

    &__role
        font-size: $font-size-xl
        margin-top: $s-2

        +mobile-xs
            font-size: $font-size-lg
